<!DOCTYPE html>
<html>

<script>
  function getCookie(name) {
    var cookieArr = document.cookie.split(";");
    for(var i = 0; i < cookieArr.length; i++) {
        var cookiePair = cookieArr[i].split("=");
        if(name == cookiePair[0].trim()) {
            return decodeURIComponent(cookiePair[1]);
        }
    }    
    return null;    // Return null if not found
  }
  function postVote(deltaVote,post_id,i) {
    const postID=post_id;
    const reqUrl="/home/postVote";
    $.post(reqUrl,{postId:postID,voteAmount:deltaVote});
    window.location.reload();
  }
</script>
<head>
  <%- include('../partials/setup.ejs') %>
  <link rel="stylesheet" href="/views/pages/homepage.css">
  <script src="../../resources/js/voting.js"></script>
  <title>/b/<%=subForum%></title>
  <script>
    function logout() {
      const username=getCookie('username');
      alert(`${username} has been logged out.`);
    }
  </script>
</head>
<body>
    <!--Navigation-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/home">Buff Forums - <%=subForum%></a>
        </li>
  
        <li class="nav-item">
            <a class="nav-link " href="/createPost">Create Post</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">
            Profile
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" id = "currentUser"></a>
            <a class="dropdown-item" href="/login" onclick="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
    <script>
      var username = document.getElementById("currentUser");
      var textnodeu = document.createTextNode("Username: " + getCookie("username"));
      username.appendChild(textnodeu);
  </script>

  </div>
    
  <br><br>

  <div class="main">
    <div class="postList">
        <div id="wrapper">
          
            <%  var i = 0;
                posts.every(function(item) {
            %>
            <div id="spacer"><div class="card"><div class="card-body"> 

              <div id="voteSection">
                <!--HTML for up/down voting-->
                <!--Adds voting to row-->
                
                <input type="image" src="../../resources/images/upvote.png" onclick="postVote(1,'<%=item.post_id%>')" />
                <span id="voteNum">
                  <%=item.vote_amount%>
                </span>
              <input type="image" src="../../resources/images/downvote.png" onclick="postVote(-1,'<%=item.post_id%>')" />
              </div>
                  
            %> 
                  <!-- Gets info from get request and stores in span tags -->
                  <!-- var preview = `<img src='' style='max-width:100%; max-height:100%'>`;-->
              <div id="postInfoSection">
                <!-- Links the row to its appropriate post link -->
                <a href="/postview/<%=item.post_id%>">
                <span class="title"><%=item.post_title%></span><br></a>
                <span class="author">Posted by <%=item.post_creator_name%></span>
                <!--Adds post info to row-->
              </div>
            </div></div></div>
            %>
              <%  i++;
                  <!-- Only shows 50 posts on homepage -->
                  if(i < 50){
                    return true
                  } 
            });
              %>
      </div>
    </div>
  </div>

    <br><br>

  </body>

</html> 